<div *ngIf="movieCast" class="crew-carousel">
  <button mat-button class="button-carousel" (click)="crewSlider.next()">
    <h1 class="shift-icon">&#10094;</h1>
  </button>
  <div class="keen-slider movie-crew-carousel" #sliderRef>
    <div (click)="redirect.redirectToPerson(actor.id)" class="keen-slider__slide movie-crew-cell" *ngFor="let actor of movieCast">
      <div class="movie-crew-img-wrapper">
        <img class="movie-crew-carousel-movie-poster"
             src="https://image.tmdb.org/t/p/w200/{{actor.profile_path}}" alt="poster"/>
      </div>
      <div class="movie-crew-info-wrapper">
        <h2 class="movie-crew-name">{{ actor.name }}</h2>
        <p>Character: {{ actor.character }}</p>
      </div>
    </div>
  </div>
  <button mat-button class="button-carousel" (click)="crewSlider.prev()">
    <h1 class="shift-icon">&#10095;</h1>
  </button>
</div>
