<div *ngIf="trendingMovies" class="carousel">
  <div class="button-carousel" (click)="slider.next()"></div>
  <div class="keen-slider" #sliderRef>
    <div
      *ngFor="let movie of trendingMovies.results"
      class="keen-slider__slide trending-movie"
    >
      <h2>{{ movie.original_title }}</h2>
      <img
        *ngIf="posterSize"
        src="https://image.tmdb.org/t/p/w{{ posterSize }}/{{
          movie.poster_path
        }}"
        alt="poster"
        class="movie-poster"
      />
      <p>Release date: {{ movie.release_date }}</p>
      <hr class="poster-break-line" />
      <p class="trending-movie-description">{{ movie.overview }}</p>
    </div>
  </div>
  <div class="button-carousel" (click)="slider.prev()"></div>
</div>
