$carousel-height: 400px;
$keen-slider-height: 300px;
$carousel-width: 90%;
$primary-color: #303030;
// $carousel-wrapper-color: #DDE5E7;
$carousel-wrapper-color: #c5c6c770;
$carousel-item-hover-color: rgb(109, 109, 109);
$text-color: white;
$poster-size: 200px;

.shift-icon {
  color: $text-color;
}

.trending-movie-week-text {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: $carousel-height;
  background-color: $carousel-wrapper-color;
  overflow: hidden;

  .trending-movie-carousel {
    display: flex;
    flex-direction: row;
    width: $carousel-width;
    height: $keen-slider-height;
  }

  .trending-movie-cell {
    position: relative;
    align-items: center;
    width: $poster-size;
  }

  .trending-movie-img-wrapper {
    width: $poster-size;
    align-items: center;
    .trending-movie-poster {
      opacity: 1;
      transition: 0.5s ease;
      backface-visibility: hidden;
    }
    img {
      border-radius: 5%;
    }
  }

  .trending-movie-info-wrapper {
    width: $poster-size;
    overflow: hidden;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    color: black;
    top: 30%;

    .trending-movie-description {
      padding: 0 2px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
    }
  }

  .add-icon {
    position: absolute;
    opacity: 0.3;
    top: 2%;
    left: 2%;
    background-color: white;
    border-radius: 40%;
    &:hover {
      color: #69f0ae;
    }
  }

  .trending-movie-cell:hover {
    .trending-movie-carousel-movie-poster {
      opacity: 0.1;
    }
    .trending-movie-info-wrapper {
      opacity: 1;
    }
    .add-icon {
      opacity: 1;
    }
  }

  .button-carousel {
    z-index: 2;
    opacity: 0.7;
    background-color: $primary-color;
    width: calc(100% - $carousel-width);
    height: $carousel-height;

    &:hover {
      background-color: rgba(8, 8, 8, 0.753);
    }
  }
}
