$keen-slider-height: 600px;
$carousel-width: 90%;
$carousel-color: #eeeeee;
$carousel-item-hover-color: rgb(109, 109, 109);

.carousel {
  display: flex;
  flex-direction: row;
  width: 100%;

  .keen-slider {
    display: flex;
    flex-direction: row;
    width: $carousel-width;
    max-height: $keen-slider-height;
    background-color: $carousel-color;
  
    .trending-movie {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid #ffffff;
      overflow: hidden;
      &:hover {
        background-color: $carousel-item-hover-color;
        overflow: visible;
        height: fit-content;
      }
    }
  
    .trending-movie-description {
      text-align: center;
      padding-top: 10px;
      margin: 0;
      padding-bottom: 10px;
    }
  
    .poster-break-line {
      width: 100%;
      border-top: 1px solid white;
    }
  }
  
  .button-carousel {
    z-index: 2;
    background-color: rgba(8, 8, 8, 0.315);
    width: calc(100% - $carousel-width);
    height: $keen-slider-height;
    &:hover {
        background-color: rgba(8, 8, 8, 0.753);
    }
  }
  
}

