<app-search></app-search>
<div class="movie-wrapper">
  <div *ngIf="movieToDisplay" class="movie-details-wrapper">
    <img *ngIf="movieToDisplay.poster_path !== null; else noPictureFound" class="movie-details-poster" src="https://image.tmdb.org/t/p/original/{{movieToDisplay.poster_path}}">
    <ng-template #noPictureFound>
      <h1 class="movie-details-image-not-found">Image not found</h1>
    </ng-template>
    <div class="movie-details-info">
      <div class="movie-details-title-wrapper">
        <h1 class="movie-details-names">{{movieToDisplay.title}}</h1>
        <div class="movie-details-static-rating">
          <mat-icon class="movie-details-rating-star">{{'star'}}</mat-icon>
          <p>{{movieRating}}/5 ({{numberOfRatings}})</p>
        </div>
      </div>
        <h2>{{movieToDisplay.release_date}}</h2>
      <div class="movie-details-info-overview">
        <p>{{movieToDisplay.overview}}</p>
        <p>Length: {{movieToDisplay.runtime}} minutes</p>
        <p>Budget: {{movieToDisplay.budget}} $</p>
        <p>Revenue: {{movieToDisplay.revenue}} $</p>
      </div>
      <p>Genres:</p>
      <div class="" *ngFor="let genre of movieToDisplay.genres">
        <li>{{genre.name}}</li>
      </div>
      <div class="movie-details-logged-in" *ngIf="auth.isLoggedIn()">
        <div class="movie-details-my-rating">
          <p>My rating</p>
          <app-rating [movieId]="movieToDisplay.id"></app-rating>
        </div>

        <mat-icon
          aria-hidden="false"
          aria-label="Add to list icon"
          class="add-movie-icon"
          (click)="dialog.openAddToListDialog(movieToDisplay.id, movieToDisplay.title)"
        >add
        </mat-icon>
      </div>
      <button class="movie-details-rating-overtime" mat-raised-button (click)="dialog.openMovieRatingStatistics(movieToDisplay.id)">Movie rating over time
      </button>
    </div>
  </div>
</div>

<div class="crew-wrapper">
  <div (click)="redirect.redirectToPerson(director.id)" class="movie-details-director" *ngIf="director">
    <img *ngIf="director.profile_path" class="movie-details-director-poster"
         src="https://image.tmdb.org/t/p/w200/{{director.profile_path}}">
    <div class="movie-details-director-info">
      <h1 class="movie-details-names movie-details-director-name">{{director.name}}</h1>
      <h2>{{director.job}}</h2>
      <p *ngIf="directorInfo">Bibliography<br>{{directorInfo.biography}}</p>
    </div>
  </div>

  <h1 class="movie-details-cast-and-similar">Movie cast:</h1>
  <hr>
  <app-cast-carousel [movieCast]="movieCast"></app-cast-carousel>
  <hr>
  <h1 class="movie-details-cast-and-similar">Similar movies:</h1>
  <hr>
  <app-similar-movie-carousel [similarMovies]="similarMovies"></app-similar-movie-carousel>
  <hr>
</div>
<div *ngIf="movieToDisplay">
  <app-movie-comments [movieId]="movieToDisplay.id"></app-movie-comments>
</div>

