<div *ngIf="_newPeopleData">
  <div class="people-search-list">
    <div *ngFor="let data of _newPeopleData.results" class="people-list">
      <div class="people-poster-size">
        <img mat-card-image *ngIf="posterSize" src="https://image.tmdb.org/t/p/w{{posterSize}}/{{data.profile_path}}"
             alt="poster"
             class="people-poster"/>
      </div>
      <div class="people-information-div">
        <h2>{{data.name}}</h2>
        <p>Profession: {{data.known_for_department}}</p>
        <p>Known for: {{data.known_for[0].title}}</p>
      </div>
    </div>
  </div>

  <div class="people-pagination-div">

    <button mat-button (click)="previousPage()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <p>Page {{_newPeopleData.page}} of {{_newPeopleData.total_pages}}</p>

    <button mat-button (click)="nextPage()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

  </div>

</div>
