.outer-div {
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.movie-list {
  position: relative;
}

.poster-size {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.information-div {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 290px;
  //left: 50%;
  transform: translate(-8%, -10%);
  //-ms-transform: translate(-50%, -50%);

  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.information-div-test {
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.movie-list:hover .poster-size {
  opacity: 0.3;
}

.movie-list:hover .information-div {
  opacity: 1;
}

.movie-pagination-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}


//.outer-div {
//  margin-left: 5%;
//  margin-right: 5%;
//  width: 100%;
//
//  display: grid;
//  grid-template-columns: repeat(5, 1fr);
//
//}
//
//.movie-list {
//  margin-bottom: 3%;
//}
//
//.poster-size {
//  width: 300px;
//  height: 500px;
//}
//
//.information-div {
//  width: 300px;
//}
//.information-div-test {
//  white-space: break-spaces;
//  overflow: hidden;
//  text-overflow: ellipsis;
//  display: -webkit-box;
//  -webkit-line-clamp: 3;
//  -webkit-box-orient: vertical;
//}
//


