.people-search-list {
  margin-left: 10%;
  margin-right: 10%;
  width: 90%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5px;
}

.people-list {
  position: relative;
}

.people-poster-size {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.people-information-div {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  width: 290px;
  transform: translate(-8%, -10%);

  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.people-list:hover .people-poster-size {
  opacity: 0.1;
}

.people-list:hover .people-information-div {
  opacity: 1;
}

.people-pagination-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.profile-not-found {
  font-size: 30px;
  height: 450px;
  width: 290px;
  color: white;
}

.people-pagination-text {
  color: white;
}

.image-not-found {
  border-radius: 2%;
  height: 450px;
  width: 300px;
  &:hover {
    opacity: 0.1;
  }
}

.people-poster {
  border-radius: 2%;
}
