.mat-card-outer {
  width: 50%;
  height: 55px;
  margin-left: 25%;
  margin-right: 25%;
}

.search-form {
  text-align: center;
}

.search-form-full {
  width: 50%;
}

.search-submit-button {

}

.search-form-options {
  width: 10%;
}
