<div>
<div class="mat-card-outer">
  <form class="search-form" [formGroup]="searchFormGroup" (ngSubmit)="submitSearch()">
    <mat-card-content>

      <mat-form-field class="search-form-options" appearance="fill">
        <mat-select formControlName="option">
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="searchFormGroup.get('option')?.hasError('required')">
          Please Select Option.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="search-form-full" appearance="fill">
        <mat-label>Search Movies...</mat-label>
        <input matInput placeholder="Micheal Bay" type="text" formControlName="search">
      </mat-form-field>
      <button mat-button color="primary" (submit)="submitSearch()" class="search-submit-button">
        <mat-icon >search</mat-icon>
      </button>
      <button mat-button color="primary" (click)="resetSearch()" class="search-reset-button">
        Reset
      </button>
    </mat-card-content>

  </form>
</div>

<app-search-movie></app-search-movie>
<app-search-people></app-search-people>

  <div [hidden]="isTrendingHidden">

    <h2 class="trending-movie-week-text">Trending Movies This Week:</h2>
    <div class="trending-movie-week">
      <app-trending-movies></app-trending-movies>
    </div>

    <h2 class="trending-people-week-text">Trending People This Week:</h2>
    <div class="trending-people-week">
      <app-trending-people></app-trending-people>
    </div>

  </div>
</div>
