<div *ngIf="credits" class="carousel-container">
  <h2 class="known-for-title">Known for:</h2>
  <div class="crew-carousel">
    <button
      mat-button
      class="button-carousel"
      (click)="knownForMovieSlider.next()"
    >
      <h1 class="shift-icon">&#10094;</h1>
    </button>
    <div class="keen-slider movie-crew-carousel" #knownForMovieKeenSlider>
      <div
        class="keen-slider__slide movie-crew-cell"
        *ngFor="let movie of credits.cast"
      >
        <div class="movie-crew-img-wrapper">
          <img
            class="movie-crew-carousel-movie-poster"
            src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}"
            alt="poster"
          />
        </div>
        <mat-icon
        aria-hidden="false"
        aria-label="Add to list icon"
        class="add-icon"
        (click)="openAddToListDialog(movie.id, movie.title)"
        >add</mat-icon
      >
        <div class="movie-crew-info-wrapper">
          <h2 class="movie-crew-name">{{ movie.title }}</h2>
          <p class="movie-crew-description">{{ movie.overview }}</p>
        </div>
      </div>
    </div>
    <button
      mat-button
      class="button-carousel"
      (click)="knownForMovieSlider.prev()"
    >
      <h1 class="shift-icon">&#10095;</h1>
    </button>
  </div>
</div>
  
  
