$navbar-height: 70px;

.navbar{
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
  // background-color: #67727E;
  background-color: #0B0C10;
  color: #ffffff;
  height: $navbar-height;
}

.navbar-utility-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: calc($navbar-height - 10px);
  border-radius: 10%;
  &:hover {
    cursor: pointer;
  }
}