<mat-toolbar class="navbar" color="primary">
  <div class="navbar-utility-tabs">
    <img mat-button routerLink="/home" class="logo" src="../../../../assets/logo.png" alt="logo">
    <a *ngIf="this.authenticationService.isLoggedIn()" mat-button routerLink="/myList">My Lists</a>
  </div>
  <div>
    <div class="logout" *ngIf="this.authenticationService.isLoggedIn() else elseBlock">
      <a mat-button routerLink="user/ratings">User Ratings</a>
      <a mat-button (click)="logout()">Log out</a>
    </div>

    <div class="login">
      <ng-template #elseBlock>
        <a mat-button routerLink="/login">Login</a>
        <a mat-button routerLink="/register">Register</a>
      </ng-template>
    </div>
  </div>
</mat-toolbar>
