<div class="login-wrapper">
  <mat-card class="login-mat-card">
    <form [formGroup]="loginFormGroup" (ngSubmit)="submitLogin()">
      <mat-card-content class="login-fields">
        <mat-form-field>
          <input matInput formControlName="username"
                 type="text"
                 autocomplete="off"
                 placeholder="Username">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password"
                 type="password"
                 autocomplete="off"
                 placeholder="Password">
        </mat-form-field>
      </mat-card-content>
      <div class="login-button-container">
        <button mat-raised-button type="submit" class="login-submit-button">Login</button>
        <button mat-raised-button color="warn" type="reset" (click)="cancel()" class="login-cancel-button">Cancel
        </button>
      </div>
      <p>{{errorMessage}}</p>
    </form>
  </mat-card>
</div>

