<div class="search-form-wrapper" [formGroup]="searchFormGroup">
  <mat-form-field class="search-form-options" appearance="fill">
    <mat-select formControlName="option">
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="searchFormGroup.get('option')?.hasError('required')">
      Please Select Option.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="search-form-full" appearance="fill">
    <mat-label>Search Movies...</mat-label>
    <div class="row-search">
      <input
        matInput
        placeholder="Micheal Bay"
        type="text"
        formControlName="search"
        (input)="submitSearch()"
        (focus)="submitSearch()"
        [(ngModel)]="searchValue"
      />
      <mat-icon
        (click)="resetSearch()"
        class="search-reset-button"
        >close
      </mat-icon>
    </div>
  </mat-form-field>
</div>

<app-search-movie></app-search-movie>
<app-search-people></app-search-people>
