$primary-color: #303030;

.search-form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-form {
  text-align: center;
  
  .mat-form-field-infix {
    display: flex;
    flex-direction: row;
  }
}

.search-form-full {
  width: 50%;
  input {
    color: white;
  }
}

.search-form-options {
  width: 10%;
}

.trending-movie-week-text, .trending-people-week-text {
  color: white;
  margin-left: 5%;
}

.trending-movie-week, .trending-people-week {
  margin-bottom: 3%;
}

.search-reset-button {
  height: 10px;
  position: absolute;
  right: 1%;
  top: -18%;
  &:hover {
    color: red;
  }
}

.row-search {
  display: flex;
  flex-direction: row;
}
