<div class="border-outer-div">
  <div class="star-rating-container star-rating-animation" fxLayout="row" fxLayoutAlign="start center">

    <div *ngIf="!isRatingSelectedPrevious">
      <div *ngFor="let star of stars" [ngClass]="[star.class]" (click)="selectStar(star.id)">
        <mat-icon>{{star.icon}}</mat-icon>
      </div>
    </div>

    <div *ngIf="isRatingSelectedPrevious">
      <div *ngFor="let star of stars" [ngClass]="[star.class]" (click)="alterSelectedStar(star.id)">
        <mat-icon>{{star.icon}}</mat-icon>
      </div>
    </div>

  </div>
</div>


